<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
    </head>    
    <body>
        {{> header}}
            <p>visit your <a href="https://dashboard.heroku.com/apps">Projects</a></p>
        {{> footer}}
    </body>
</html>